.main-container {
    border:1px solid gray;
    height: 120%;
    background-color: rgb(139, 136, 136);
}
header {
    border: 1px solid blue;
    height: 50px;
    background-color: blue;
    text-align: right;
    color:white
}
nav {
    border: 1px solid darkgray;
    background-color:white;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:right;
}
button {
    background-color: orange;
    font-size: 25px;
}
ul> li {
    display: inline-block;
}
main {
    margin-left: 350;
    margin-right:350;
}
section {
    border: 1px solid gray;
    padding-left: 20;
    padding-right: 20;
    background-color:white;
}