.main-container {
    background: teal;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 10%;
}
body {
    margin: 0;
    width: 100%;
}
.to-dolist {
    border: 1px solid black;
    background-color:red;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}
.calendar {
    border: 1px solid blue;
    background-color: pink;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    display: grid;
    
}
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}
.date-grid button:first-child {
    grid-column: 7;
  }
.clock {
    border: 1px solid yellow;
    background-color: orange;
    padding: 10px;
    grid-column: 1 ;
    grid-row: 2;
}
.calculator {
    border: 1px solid green;
    background-color: yellow;
    padding: 10px;
    grid-template-columns: 3;
    grid-template-rows: 1/2;
}