body {
  width:850px;
  margin: 0 auto;
}

main {
  height: 450px;
  width: 850px;
  margin: 0 auto;
  background-image: url(./nasapic.jpg);
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: lightgrey;
  margin-top: 20px;
  color: black;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
.ft-title {
  color: black;
  
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}
input[type="text"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="message"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: rgb(45, 45, 46);
  color: white;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

